@font-face {
    font-family: 'Verdana';
    src: local('Verdana'), url('./src/assets/fonts/verdana.woff2') format('woff2'), url('./src/assets/fonts/verdana.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }